* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 100vw;
    height: 100vh;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
}
main {
    width: 100%;
    max-width: 18.75rem; /* Converts 300px to rem */
    background-color: white;
    padding: 1rem; /* Converts 15px to rem */
    border-radius: 0.9375rem; /* Converts 15px to rem */
    display: flex;
    flex-direction: column;
    gap: 1.25rem; /* Converts 20px to rem */
    box-shadow: 0 1px 1.5625rem rgba(123, 123, 123, 0.5); /* Converts 25px */
}
h3 {
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    padding: 0 0.3125rem; /* Converts 5px to rem */
    font-size: 1.25rem;
}
p {
    color: hsl(220, 15%, 55%);
    padding: 0 0.3125rem;
    margin-bottom: 1.5625rem; /* Converts 25px to rem */
}
main img {
    width: 100%;
    height: auto;
    border-radius: 0.9375rem; /* Converts 15px to rem */
}
